body {
    background-image: linear-gradient(to right, #4c6c81, #0d0f11);
    margin: 0;
}

li {
    padding: 10px;
    font-size: 2rem;
}

.navbar {
    background-image: linear-gradient(to left, #3154b4, #6299d1);
    color: #FEFEFE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

.fa-linkedin {
    font-size: 3rem;
    padding: 1rem;
    color: #000000;
    transition: color 0.9s ease-out;
}

.fa-linkedin:hover {
    font-size: 3rem;
    padding: 1rem;
    color: #ffffff;
    transition: color 0.8s ease-out;
}

.fa-github {
    font-size: 3rem;
    padding: 1rem;
    color: #000000;
    transition: color 0.9s ease-out;
}

.fa-github:hover {
    font-size: 3rem;
    padding: 1rem;
    color: #fdf6f6;
    transition: color 0.8s ease-out;
}

.fa-whatsapp {
    font-size: 3rem;
    padding: 1rem;
    color: #000000;
    transition: color 0.9s ease-out;
}

.fa-whatsapp:hover {
    font-size: 3rem;
    padding: 1rem;
    color: #ffffff;
    transition: color 0.8s ease-out;
}

.items {
    display: flex;
    text-justify: left;
    justify-content: space-between;
}

.lista {
    flex-basis: 30%;
    float: right;
    box-sizing: border-box;
    text-decoration: none;
    color: #FEFEFE;
}

.corpo-foto {
    display: flex;
}

.corpo-texto {
    font-size: 1.3rem;
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif Ahom', serif;
    font-family: 'PT Serif', serif;
}

.title {
    background-color: rgb(93, 171, 216);
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.imagemeu {
    width: 251px;
    height: 251px;
    margin-right: 20px;
}

.remove-padding {
    padding: 0;
}

.lista1 {
    list-style: none;
    text-decoration: none;
    color: #FEFEFE;
    font-size: 2rem;
}

.lista1:hover {
    scale: 1.1;
    transition: color 0.8s ease-out;
    color: #fdf6f6;
}

strong {
    font-size: 1.3rem;
}

.footer1 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-left p {
    margin: auto;
    display: inline-block;
    vertical-align: central;
    margin-right: auto;
}

.footer-right nav {
    display: flex;
    justify-content: space-between;
}

.footer-right a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}


/* Parte das Soft Skills */

.container3 {
    text-align: center;
    margin-top: 10rem;
    color: #FEFEFE;
    font-family: 'Montserrat', sans-serif;
}

.menuskils {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-html5 {
    font-size: 4.5rem;
    color: rgb(255, 145, 0);
}

.fa-css3-alt {
    font-size: 4.5rem;
    color: #6299d1;
}

.fa-js {
    font-size: 4.5rem;
    color: yellow;
}

.fa-bootstrap {
    font-size: 4.5rem;
    color: purple;
}


/* Parte de Contato */

.cv {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
}